{% extends 'base.html' %}
{% block content %}
{% load static %}
{% if post_list %}
<title>mong::운동 기록</title>
<style>
    @font-face {
    font-family: 'bodyfont';
    src:url('/static/KoPubDotumMedium.ttf');
}
    .box{
        position: absolute;
        right : 38%;
        top: 160px;
        border-radius: 30px;
        padding-left:30px;
        padding-bottom:30px;
        padding-right:60px;
        padding-top:40px;

        background: #FFE8A2;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    }
    .btn{
        position: relative;
        border-radius: 30px;
        width : 40%;
        border : none;
        background: #FFCF79;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: KoPubDotum;
        font-style: normal;
        font-size: 12px;
        line-height: 22px;
        text-align: center;
        color: #684500;
        text-align: center;
        padding:8px;
        padding-right:11px;
    }
    .btnbox{
        text-align: center;
    }
    .time{
        font-size:12px;
        color:gray;
    }
    .createbox{
        position: absolute;
        margin-top:300px !important;
        background-color: black;
    }
    p{
        font-family: bodyfont;
    }
</style>
<div class = "box">
    <ul>
    {% for post in post_list.all %}
            걸음 수 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ post.walk }} 걸음 이상 <br>
            운동 시간 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{post.hour}}시간 {{post.min}}시간<br>
            섭취 칼로리&nbsp;&nbsp;&nbsp;&nbsp;{{post.cal}} Kcal<br><br>
            <div class="time">{{post.pub_date}}에 작성됨</div>
        <br><br>
        <div class = "btnbox">
        <button class = "btn" type ="button"><a href="{% url 'update' post.id %}" style="text-decoration-line:none; color:#684500;">수정</a></button>
        <button class = "btn" type ="button"><a href="{% url 'delete' post.id %}" style="text-decoration-line:none; color:#684500;">삭제</a></button>
        </div>
    {% endfor %}
    </ul>
</div>
{% else %}
<img src="{% static 'mong_talk.png' %}" width="100%" style="position:absolute; top:180px;">
<div class ="createbox">
<a href="{% url 'create' %}"><img src="{% static 'record_create_btn.png' %}"width="15%" style="position:relative; top:420px; left:35%;"></a>
</div>
{% endif %}
{% endblock %}