{% extends 'base.html' %}
{% block content %}
{% load static %}


{% for user in cons.all %}
{% if user.user_id == login_session %}
<br><br><br>
{% if user.nationality == 'TY' %}
<img src="{% static 'myty.png' %}" style="position: relative; left: 20%;" width="60%">
{% endif %}
{% if user.nationality == 'TE' %}
<img src="{% static 'myte.png' %}" style="position: relative; left: 20%;" width="60%">
{% endif %}
{% if user.nationality == 'SY' %}
<img src="{% static 'mysy.png' %}" style="position: relative; left: 20%;" width="60%">
{% endif %}
{% if user.nationality == 'SE' %}
<img src="{% static 'myse.png' %}" style="position: relative; left: 20%;" width="60%">
{% endif %}
{% endif %}
{% endfor %}
{% endblock %}